<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>도서목록</h2>
    <hr>
    <table border="1" width="80%">
        <tr>
            <th>도서번호</th>
            <th>도서명</th>
            <th>출판사</th>
            <th>가격</th>
            <th>수량</th>
        </tr>
        <tr th:each="b:${list}">
            <td th:text="${b.no}"></td>
            <td th:text="${b.title}"></td>
            <td th:text="${b.publisher}"></td>
            <td th:text="${b.price}"></td>
            <td th:text="${b.qty}"></td>
        </tr>
    </table>
</body>
</html>